@using WatchStore.Models.CustomModels;
@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<h3>Marcas Populares</h3>
<div class='demo-container'>
    <div class='carousel'>
        <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel' type='radio'>
        <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
        <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel' type='radio'>

        <div class='carousel__controls'>
            <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-0'>
                <i class="fas fa-chevron-left"></i>
            </label>
            <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2'>
                <i class="fas fa-chevron-right"></i>
            </label>


        </div>
        <div class='carousel__controls'>
            <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1'>
                <i class="fas fa-chevron-left"></i>
            </label>
            <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-3'>
                <i class="fas fa-chevron-right"></i>
            </label>
        </div>
        <div class='carousel__controls'>
            <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-2'>
                <i class="fas fa-chevron-left"></i>
            </label>
        </div>
        <div class='carousel__screen'>
            <div class='carousel__track'>

                @foreach (var item in Model.Marca)
                {
                    <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-5'>
                        <div class='demo-content'>
                            <a href="">
                                <img src="@Html.DisplayFor(modelItem => item.urlimagen)">
                                </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<br />
<br />
<h3>Más vendidos</h3>
<div class="product-grid">

    @foreach (var item in Model.Producto)
    {
        <div class="product">
            <a href="">
                <img src="@item.Imagenesproducto.First().urlimagen">
                <hr />
                <p class="watchtitle">@item.pronombre</p>
                <p class="watchprice">$@String.Format("{0:0.00}", item.proprecio)</p>
            </a>
        </div>
    }

    </div>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

