################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WatchStore/.vs/WatchStore
/WatchStore/WatchStore/bin/Debug/netcoreapp3.1
/WatchStore/WatchStore/obj
